<html>
<head>
  <title>Chasey Server</title>
</head>
<body>
  <h1> Hello, <%= @first %> <%= @last %>! </h1>
  <h1> Welcome to Chasey Server! </h1>
  <h1> Feel free to add your own views in the views folder! </h1>
</body>
</html>