<html>
<head>
  <title>An Example Page</title>
</head>
<body>
  <h1> Welcome to Chasey Server! </h1>
  <h1> Feel free to add your own views in the views folder. </h1>
  <h1> Careful, though!  Chasey-poo wants you to use erb for your views.</h1>
</body>
</html>